.container{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    text-align: center;
    font-size: 50px;
}

.tarjeta{
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.tarjeta h1,h2{
    margin-top: 0;
    margin-bottom: 5px;
}

.tarjeta ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

.tarjeta li{
    margin-bottom: 10px;
}

.tarjeta p,label{
    font-size: 20px;
    margin-right: 10px;
}

.tarjeta form{
    display: flex;
    flex-direction: column;
}

.tarjeta input{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}

.tarjeta button{
    background-color: #12b0b9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 600px) {
    .container{
        width: 100%;
    }

    .tarjeta{
        width: 100%;
    }
}