.Inicio{
    margin: 35px;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
    gap: 20px;
}

@media (max-width: 600px) {
    .Inicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}   