.containertable {
    max-height: 500px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
table th,
table td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

table button{
    background-color: #12b0b9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .containertable {
        max-height: none;
        overflow-x: auto;
    }
}
